* {
    background:     #24273A;
    text:			#CAD3F5;
    accent:			#8bd5ca;
    background-alt: #24273A99;
    foreground:     #D9E0EE;
    selected:       #7AA2F7;
    active:         #8aadf4;
    urgent:         #f5a97f;
}
